@font-face {
    font-family: 'Red Hat Display';
    src: url('../font/RedHatDisplay.woff2') format('woff2');
}

@font-face {
    font-family: 'Mulish';
    src: url('../font/Mulish.woff2') format('woff2');
}

.Headline-6 {
    text-align: center;
    font-family: 'Red Hat Display';
    font-size: 17px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #1c1c9b;
}

.Headline-1 {
    text-align: center;
    font-family: 'Red Hat Display';
    font-size: 22px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #1c1c9b;
}

.form-control {
    font-family: 'Red Hat Display';
    height: 38px;
    border-radius: 4px;
    background-color: #fff;
}

.col-sm-12 {
    padding-bottom: 15px;
    font-family: 'Red Hat Display';
}

.head {
    height: auto;
    width: 100%;
    background-color: #f6f7fd;
}

.label {
    width: 100%;
    font-family: 'Red Hat Display';
    font-size: 17px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #1c1c9b;
}

.I-have-read-underst {
    font-family: 'Mulish';
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #677279;
    padding-left: 10px;
}

.I-have-read-underst .text-style-1 {
    font-weight: bold;
}

.sbt {
    width: 100%;
    background-color: #1c1c9b;
    color: white;
}

.checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #ccc;
    background-color: #fff;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-family: 'Mulish';
    font-size: 16px;
    color: #677279;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #fc4e13;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #fc4e13;
    border: 3px solid white;
}

.stp-base {
    width: 33.3%;
    height: 40px;
    padding-top: 10px;
}

.Oval {
    width: 24px;
    height: 24px;
    margin: auto;
    border-radius: 50%;
    background-color: #fc4e13;
}

.Enter-Personal-Detai {
    font-family: 'Red Hat Display';
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.15px;
    color: #1c1c9b;
    padding-top: 10px;
}

.span {
    padding-top: 2px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.Rectangle {
    position: absolute;
    width: 20%;
    height: 1px;
    margin: 23px 40px 67px 21%;
    background-color: #d8d8d8;
}

.Rectangle1 {
    position: absolute;
    width: 20%;
    height: 1px;
    margin: 23px 40px 67px 51%;
    background-color: #d8d8d8;
}


.load {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: white;
    text-align: center;

}

.Unlocking-Smiles-T {
    font-family: "Red Hat Display";
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c1c9b;
    position: absolute;
    top: 50%;
    width: 100%;
    display: block;
    animation-name: example1;
    animation-duration: 2s;
}

.logo {
    margin: auto;
    width: 90%;
    display: block;
    position: absolute;
    bottom: 50%;
    animation-name: example;
    animation-duration: 2s;
}

@keyframes example {
    from {
        margin-left: 200%;
    }

    to {
        margin-left: 0%;
    }
}

@keyframes example1 {
    from {
        margin-right: 200%;
    }

    to {
        margin-right: 0%;
    }
}

.Unlocking-Smiles-T .text-style-1 {
    color: #fc4e13;
}
