<!doctype html>
<html>

<head>
  <title>WebRTC: Still photo capture demo</title>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="../static/main.css" type="text/css" media="all">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    #files{
      font-size: 50px;
    }

    .button {
      background-color: #4CAF50;
      /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 50px;
    }
  </style>
</head>

<body>
  <div id="loader" class="loader"></div>
  <div class="contentarea">
    <h1 class="center">
      Demo Profile Pic
    </h1>
    <input id="files" class="center" type="file" accept="image/*" capture="environment" />
    <br>
    <button id="button" class="center">Submit</button>
  </div>
  <script>
    function getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      });
    }

    $("#button").click(function () {
      var file = document.getElementById('files').files[0];
      getBase64(file).then(
        data => takepicture(data)
      );
    });

    function takepicture(i) {
      var data = i;
      $.post("/takeimage", {
          name: data
        },
        function (data, status) {
          alert("Snapshot Taken" + "\nStatus: " + status);
          $("#loader").css("display", "initial");
          setInterval(myTimer, 5000);

          function myTimer() {
            window.location.replace("{{ url_for('photo') }}");
          }
        });
    }
  </script>
</body>

</html>